<div>
<form action="{{ path('zayso_natgames_account_profile_post') }}" method="post" >
<table border="1" style="width: 800px;">
    <tr><th colspan="4">National Games 2012 - People Attached to Account</th></tr>
    <tr>
        <th>Relation</th>
        <th>Account Person Name</th>
        <th>AYSO Information</th>
        <th>Switch User</th>
    </tr>
    {% for accountPerson in account.accountPersons %}
    <tr>
        <td>{{ accountPerson.accountRelation}}</td>
        <td>{{ accountPerson.personName     }}</td>
        <td>
         {{ helper.renderEaysoInfo(accountPerson) | raw }}
         {# render "ZaysoNatGamesBundle:Account/Profile:renderEaysoInfo" with {'accountPerson': accountPerson} #}
       </td>
       <td align="center">
         <input type="radio" name="accountPersons[switch]" value="{{accountPerson.id}}" />
       </td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="3">
        <a href="{{ path('zayso_natgames_account_person_add') }}">Click here</a> to add additional person to account.<br />
        This will allow you to sign up the additional person to referee games.
      </td>
      <td align="center"><input type="submit" name="switchUserSubmit" value="Switch User" /></td>
    </tr>
</table>
</form>
</div>

