{% extends 'NatGamesBundle::layout.html.twig' %}

{% form_theme form 'NatGamesBundle:Form:fields.html.twig' %}

{% block title %}NatGames - Form{% endblock %}

{% block content %}
<table border="1">
<form action="{{ path('_natgames_form') }}" method="post" {{ form_enctype(form) }}>

<tr><td>Form Errors: {{ form_errors(form) }}</td></tr>

<tr>
    <td>{{ form_label (form.userName) }}</td>
    <td>{{ form_widget(form.userName) }}</td>
    <td>{{ form_errors(form.userName) }}</td>
</tr>

<tr>
    <td>{{ form_label (form.userPass) }}</td>
    <td>{{ form_widget(form.userPass) }}</td>
    <td>{{ form_errors(form.userPass) }}</td>
</tr>

<tr>
    <td>{{ form_label (form.userPassConfirm) }}</td>
    <td>{{ form_widget(form.userPassConfirm) }}</td>
    <td>{{ form_errors(form.userPassConfirm) }}</td>
</tr>

<tr>
    <td>{{ form_label (form.status) }}</td>
    <td>{{ form_widget(form.status) }}</td>
    <td>{{ form_errors(form.status) }}</td>
</tr>

<tr>
    <td>{{ form_label (form.accountPerson.status) }}</td>
    <td>{{ form_widget(form.accountPerson.status) }}</td>
    <td>{{ form_errors(form.accountPerson.status) }}</td>
</tr>

<tr>
    <td>{{ form_label (form.accountPerson.person.firstName) }}</td>
    <td>{{ form_widget(form.accountPerson.person.firstName) }}</td>
    <td>{{ form_errors(form.accountPerson.person.firstName) }}</td>
</tr>
<tr>
    <td>{{ form_label (form.accountPerson.person.lastName) }}</td>
    <td>{{ form_widget(form.accountPerson.person.lastName) }}</td>
    <td>{{ form_errors(form.accountPerson.person.lastName) }}</td>
</tr>
<tr>
    <td>{{ form_label (form.accountPerson.person.nickName) }}</td>
    <td>{{ form_widget(form.accountPerson.person.nickName) }}</td>
    <td>{{ form_errors(form.accountPerson.person.nickName) }}</td>
</tr>
<tr>
    <td>{{ form_label (form.accountPerson.person.email) }}</td>
    <td>{{ form_widget(form.accountPerson.person.email) }}</td>
    <td>{{ form_errors(form.accountPerson.person.email) }}</td>
</tr>
<tr>
    <td>{{ form_label (form.refBadge) }}</td>
    <td>{{ form_widget(form.refBadge) }}</td>
    <td>{{ form_errors(form.refBadge) }}</td>
</tr>

<tr><td>{{ form_rest(form) }}</td></tr>

<tr><td><input type="submit" /></td></tr>
</form>
</table>

{% endblock %}
