{% if resetPasswordForm is defined  %}
<div class="account-signin">
<form action="{{ path('zayso_core_account_signin') }}" method="post" {{ form_enctype(resetPasswordForm) }}>
    {{ form_label(resetPasswordForm.userName) }}{{ form_widget(resetPasswordForm.userName) }}
    <input type="submit" name="password_reset_submit" value="Reset Password" />
    {{ form_errors(resetPasswordForm.userName) }}
    {{ form_rest  (resetPasswordForm) }}
</form>      
</div>
{% endif %}
