<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}NatGames Bundle{% endblock %}</title>
    <meta name="description" content="Zayso Referee Scheduling"/>
    <meta name="author" content="Art Hundiak"/>
    
{% block stylesheets %}
    {# stylesheets output='bundles/zaysonatgames/css/natgames.css' debug=false
        '@ZaysoNatGamesBundle/Resources/public/css/natgames.css'
    #}
     {% stylesheets output='bundles/zaysocore/css/zayso.css' debug=false
        '@ZaysoCoreBundle/Resources/public/css/reset.css'
        '@ZaysoCoreBundle/Resources/public/css/layout.css'
        '@ZaysoCoreBundle/Resources/public/css/core.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" media="all" />
    {% endstylesheets %}   
{% endblock %}
          
{# Need this at the top to remember which account was last used to sign in #}
{% block janrain %}{% endblock %}
        
<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>
<body>
<div>

<div id="layout-header">
  <a class="a-target-blank" href="http://soccer.org/events/national_games.aspx" target="_blank">
    <img class="logo1" src="{{ asset('bundles/zaysonatgames/images/' ~ 'NatGamesLogo.jpg') }}" height="50" width="50" alt="National Games Site"/>
  </a>
  <a class="a-target-blank" href="http://www.soccer.org" target="_blank">
    <img class="logo2" src="{{ asset('bundles/zaysonatgames/images/AysoLogo.gif') }}" height="50" width="50" alt="AYSO Site"/>
  </a>
  <div class="inner-block">
    <p style="text-align: center;">
      <span style="color: blue;">National Games 2012 Referee Scheduling Site</span>
    </p>
    <p style="margin-top: 2px; color: black; ">
      <span style="color: blue;">Zayso User: </span>
      <span style="color: greenx;">       
        {% if     is_granted('ROLE_USER') %}{{ app.user.name }} {{ app.user.getAYSOCertsDescription }}{% endif %}
        {% if not is_granted('ROLE_USER') %}Guest{% endif %}          
      </span>
    </p>
  </div>
</div>

<div id="layout-top-menu">
  <ul style="float:left ">
    <li><a href="{{ path('zayso_core_welcome')   }}">Welcome</a></li>
    
{% if is_granted('ROLE_USER') %}
    <li><a href="{{ path('zayso_core_home')      }}">Home</a></li>
{% endif %}
    
    <li><a href="{{ path('zayso_core_textalerts')}}">Text Alerts</a></li>
    <li><a href="{{ path('zayso_core_classes')   }}">Referee Classes</a></li>
    <li><a href="{{ path('zayso_core_schedule')  }}">Game Schedule</a></li>
    
{% if is_granted('ROLE_SUPER_ADMIN') %}
    <li><a href="{{ path('zayso_core_schedule_team_list')   }}">Team Schedule</a></li>
    <li><a href="{{ path('zayso_core_schedule_my_list')     }}">My Schedule</a></li>
    <li><a href="{{ path('zayso_core_schedule_referee_list')}}">Referee Schedule</a></li>
{% endif %}
        
{% if is_granted('ROLE_USER') %}
    <li>
        <a href="https://utconferences.outreach.utk.edu/ei/getdemo.ei?id=262&s=_0N4104D7F" target="_blank">Laurel Hall Reservations</a>
    </li>
{% endif %}
    
</ul>
        
<ul style="float: right">
    
{% if is_granted('ROLE_SUPER_ADMIN') %}
    <li><a href="{{ path('zayso_core_admin_schedule_results') }}">Results</a></li>
{% endif %}
    
{% if is_granted('ROLE_ADMIN') %}
    <li><a href="{{ path('zayso_natgames_admin') }}">Admin</a></li>
{% endif %}

    <li><a href="{{ path('zayso_core_contact') }}">Contact Us</a></li>
   
{% if is_granted('ROLE_USER') %}
   <li><a href="{{ path('zayso_core_account_signout') }}">Sign Out</a></li>
{% endif %}
   
{% if not is_granted('ROLE_USER') %}
   <li><a href="{{ path('zayso_core_account_signin') }}">Sign In</a></li>
{% endif %}          

  </ul>
  <div class="inner"></div>
</div>

<div id="layout-content">
  {% block content %}
  {% endblock %}
</div>

</div>
{% block javascripts %}
        
{% endblock %}
</body>
</html>

