{% form_theme form 'ZaysoAreaBundle:Form:fields.html.twig' %}

<form action="{{ path('zayso_area_account_legacy_profile') }}" method="post" {{ form_enctype(form) }}>
<table border="1" style="width: 600px;">
<tr><th colspan="3">Sign in to existing zayso account</th></tr>
<tr>
  <td style="width: 100px;">{{ form_label (form.userName) }}</td>
  <td style="width: 200px;">{{ form_widget(form.userName) }}</td>
  <td style="width: 300px;">{{ form_errors(form.userName) }}</td>
</tr>
<tr>
  <td style="width: 100px;">{{ form_label (form.userPass) }}</td>
  <td style="width: 200px;">{{ form_widget(form.userPass) }}</td>
  <td style="width: 300px;">{{ form_errors(form.userPass) }}</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td align="center"><input type="submit" name="accountSigninSubmit" value="Sign In" />
  <td>&nbsp;</td>
</tr>
<tr><td colspan="3">{{ form_errors(form) }}</td></tr>
</table>
{{ form_rest(form) }}
</form>
