{% extends 'ZaysoS5GamesBundle:Layout:layout.html.twig' %}

{% block title %}S5Games - Schedule{% endblock %}

{% block content %}
<div>
    <h3>Game Schedule 2011</h3>
    <table border = "1">
        <tr><th colspan="7">Referee Schedule 2011 - Game Count {{ gameCount }}</th></tr>
        <tr><td colspan="7">PP=Pool Play, SF=Semi-Final, CM=Consolation Match, FM=Final Match</td></tr>
        <tr>
            <td>Game</td>
            <td>DOW Time</td>
            <td>Field</td>
            <td>Pool</td>
            <td>Home / Away Teams</td>
            <td>Official Signup</td>
        </tr>
        {% for game in games %}
        <tr id="ref-sched-{{game.num}}" class="game-status-{{game.status}}">
            <td>
                <a href="{{ path('zayso_s5games_schedule_game_edit', { 'id': game.id })}}">{{ game.getNum() }}</a>
            </td>
            <td>{{ game_dow(game.date) }} {{ game_time(game.time) }}</td>
            <td>{{ game.fieldDesc      }}</td>
            <td>{{ game.pool           }}</td>
            <td>
                {% for team in game.teams %}
                    {{ game_team_desc(team) }}<br />
                {% endfor %}
            </td>
            <td><table class="game-officials-list">
                {% for gamePerson in game.eventPersonsSorted  %}
                {% set person = gamePerson.personz %}
                <tr>
                    <td>
                        <a href="{{ path('zayso_s5games_schedule_referee_assign', { 'id': game.id, 'pos': gamePerson.type }) }}">
                           {{ gamePerson.type }}:</a>
                    </td>
                    <td>{{ person.personName }}</td>
                </tr>
                {% endfor %}
            </table></td>
        </tr>
        {% endfor %}       
    </table>
</div>
{% endblock %}
