{% if signinForm is defined  %}
<div class="account-signin">
<form action="{{ path('zayso_core_account_signin_check') }}" method="post" {{ form_enctype(signinForm) }}>
    {{ form_label(signinForm.userName) }}{{ form_widget(signinForm.userName) }}{{ form_errors(signinForm.userName) }}
    {{ form_label(signinForm.userPass) }}{{ form_widget(signinForm.userPass) }}{{ form_errors(signinForm.userPass) }}
    <input type="submit" name="signin_submit" value="Sign In" />
    {{ form_rest  (signinForm) }}
</form> 
<p>Note: password recovery is not yet implemented.  Contact Art (256.457.5943) if you forgot your password.
</div>
{% endif %}
