<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}Area Bundle{% endblock %}</title>
    <meta name="description" content="Zayso Referee Scheduling"/>
    <meta name="author" content="Art Hundiak"/>
          
{# Need this at the top to remember which account was last used to sign in #}
{% block janrain %}{% endblock %}
    
{# Add standard zayso stuff later #}
{% block stylesheets %}{%endblock %} 
    
<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<style>
#navlist li
{
    display:       inline;
    list-style-type: none;
    padding-right:   10px;
}        
</style>
</head>
<body>
<div id="layout-header">
    {% if is_granted('ROLE_USER') %}
        {{ app.user.name }} 
        {{ app.user.getAYSOCertsDescription }}
    {% endif %}    
    {% if not is_granted('ROLE_USER') %}Guest{% endif %}          
</div>
<div id="layout-menu-bar">        
<ul  id="navlist">
    <li><a href="{{ path('zayso_core_welcome')         }}">Welcome</a></li>
    <li><a href="{{ path('zayso_core_home')            }}">Home</a></li>
    <li><a href="{{ path('zayso_core_schedule_referee_list') }}">Referee Schedule</a></li>
    {% if is_granted('ROLE_ADMIN') %}   
    <li><a href="{{ path('zayso_core_admin_index')     }}">Admin</a></li>
    {% endif %}
    <li><a href="{{ path('zayso_core_account_signout') }}">Signout</a></li>
     
</ul>
</div>
<div id="layout-content">
  {% block content %}
  {% endblock %}
</div>

{% block javascripts %} {% endblock %}
    
</body>
</html>

