<div>
<form action="{{ path('natgames_account_openid_add') }}" method="post" >
<table border="1" style="width: 800px;">
    <tr><th colspan="3">National Games 2012 - Social Networks</th></tr>
    <tr>
        <th>Account User Name</th>
        <th>Account Person Name</th>
        <th>Provider</th>
        <th>Remove</th>
    </tr>
    {% for openid  in openids %}
    <tr>
        <td>{{ openid.accountPerson.userName   }}</td>
        <td>{{ openid.accountPerson.personName }}</td>
        <td>{{ openid.provider }}</td>
        <td><input type="checkbox" name="openids[remove][{{openid.id}}]" value="{{openid.id}}" /></td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="3">
        <a href="{{ path('natgames_account_openid_add') }}">Click here</a> to add additional network to account.
      </td>
      <td><input type="submit" name="openidRemoveSubmit" value="Remove" /></td>
    </tr>
</table>
</form>
</div>

