{% extends 'ZaysoBundle::layout.html.twig' %}

{% block title %}ZAYSO - Welcome{% endblock %}

{% block content %}
    <h3>Welcome to Zayso</h3>
    <p>Please click on one of the following AYSO game/referee scheduling sites:</p>
    <ul style="margin: 5px; padding: 5px;">
      <li style="margin-top: 5px;">
        <a href="{{ base }}/natgames">National Games 2012, Knoxville, TN.</a>
      </li>
      <li style="margin-top: 5px;">
        <a href="{{ base }}/osso2007">Area 5CF, North Alabama</a>
      </li>
      <li style="margin-top: 5px;">
        <a href="{{ base }}/s5games">Section 5 Games 2011, South East US</a>
      </li>
    </ul>
    <p>User: {{ app.environment }} {{ app.user }}</p>
{% endblock %}
