{% form_theme form 'ZaysoS5GamesBundle:Layout:fields.html.twig' %}

{% extends 'ZaysoS5GamesBundle:Layout:layout.html.twig' %}

{% block title %}S5Games - Game - Report{% endblock %}

{% block content %}
<form action="{{ path('zayso_s5games_schedule_game_report', { 'id': game.id }) }}" method="post" {{ form_enctype(form) }}>
<h1>Game Report For: {{ game.pool }} {{ game.num }}</h1>
<div style="padding-left: 5px;">
    {{ form_widget(form.type) }}
    {{ form_widget(form.num)  }}
    {{ form_widget(form.date) }}
    {{ form_widget(form.time) }}  
    {{ form_widget(form.fieldDesc) }}  
    {{ form_widget(form.pool) }}    
</div>
{% set homeTeam = form.teams[0] %}
{% set awayTeam = form.teams[1] %}
<table border="1">
    <tr><td>&nbsp;</td>       <td>{{ form_widget(homeTeam.type)          }}</td><td>{{ form_widget(awayTeam.type)          }}</td></tr>
    <tr><td>&nbsp;</td>       <td>{{ game_team_desc(game.homeTeam)       }}</td><td>{{ game_team_desc(game.awayTeam)       }}</td></tr>
    <tr><td>Goals Scored</td> <td>{{ form_widget(homeTeam.goalsScored)   }}</td><td>{{ form_widget(awayTeam.goalsScored)   }}</td></tr>
    <tr><td>Cautions</td>     <td>{{ form_widget(homeTeam.cautions)      }}</td><td>{{ form_widget(awayTeam.cautions)      }}</td></tr>
    <tr><td>Send Offs</td>    <td>{{ form_widget(homeTeam.sendoffs)      }}</td><td>{{ form_widget(awayTeam.sendoffs)      }}</td></tr>
    <tr><td>Sportsmanship</td><td>{{ form_widget(homeTeam.sportsmanship) }}</td><td>{{ form_widget(awayTeam.sportsmanship) }}</td></tr>
    <tr><td>Fudge Factor</td> <td>{{ form_widget(homeTeam.fudgeFactor)   }}</td><td>{{ form_widget(awayTeam.fudgeFactor)   }}</td></tr>
    <tr><td>Points Minus</td> <td>{{ form_widget(homeTeam.pointsMinus)   }}</td><td>{{ form_widget(awayTeam.pointsMinus)   }}</td></tr>  
    <tr><td>Points Earned</td><td>{{ form_widget(homeTeam.pointsEarned)  }}</td><td>{{ form_widget(awayTeam.pointsEarned)  }}</td></tr>  
</table>
<div style="padding-left: 5px;">
    {{ form_widget(form.report) }}
</div>
<div style="padding-left: 5px;">
    <a href="{{ path('zayso_s5games_schedule_results') }}">Return to Game Results</a>
    {{ form_widget(form.status) }}
    {{ form_widget(form.pointsApplied)  }}
    {{ form_widget(form.reportStatus) }}  
    {% if is_granted('ROLE_ADMIN') %}
        <input type="submit" name="submit_report" value="Post"  />
    {% endif %}
</div>
<div style="display: none;">
    {{ form_widget(homeTeam.teamKey) }}
    {{ form_widget(awayTeam.teamKey) }}
</div>
{{ form_rest(form) }} 
</form>

{% endblock %}
