{% form_theme form 'ZaysoNatGamesBundle:Form:fields.html.twig' %}

{% extends 'ZaysoNatGamesBundle:Layout:layout.html.twig' %}

{% block title %}NatGames - Account - Create{% endblock %}

{% block content %}
<div>
<form action="{{ path('zayso_natgames_account_create') }}" method="post" {{ form_enctype(form) }}>
<input type="hidden" name="project_id" value="52" />
<table border="1" style="width: 800px;">
<tr><th colspan="3">National Games 2012 Create New Account</th></tr>
<tr>
    <td style="width: 175px;">{{ form_label (form.userName) }}</td>
    <td style="width: 275px;">{{ form_widget(form.userName) }}</td>
    <td style="width: 350px;">
        Required.<br />
        Used to sign in to this system.  <br />
         {{ form_errors(form.userName) }}
    </td>
</tr>
<tr>
    <td>{{ form_label (form.userPass1) }}</td>
    <td>{{ form_widget(form.userPass1) }}</td>
    <td>
        Required.<br />
        {{ form_errors(form.userPass1) }}
    </td>
</tr>
<tr>
    <td>{{ form_label (form.userPass2) }}</td>
    <td>{{ form_widget(form.userPass2) }}</td>
    <td>
        Required.<br />
        {{ form_errors(form.userPass2) }}
    </td>
</tr>
<tr><td colspan="3"></td></tr>
<tr>
    <td> {{ form_label (form.aysoid) }}</td>
    <td> {{ form_widget(form.aysoid) }}</td>
    <td>
        Required.<br />
        8 digit AYSO volunteer number. <br />
        Available from www.eayso.org<br />
        {{ form_errors(form.aysoid) }}
    </td>
</tr>
<tr>
    <td> {{ form_label (form.firstName) }}</td>
    <td> {{ form_widget(form.firstName) }}</td>
    <td>
        Legal name, should match eAYSO.<br />
        {{ form_errors(form.firstName) }}
    </td>
</tr>
<tr>
    <td> {{ form_label (form.lastName) }}</td>
    <td> {{ form_widget(form.lastName) }}</td>
    <td>
        Legal name, should match eAYSO.<br />
        {{ form_errors(form.lastName) }}
    </td>
</tr>
<tr>
    <td> {{ form_label (form.nickName) }}</td>
    <td> {{ form_widget(form.nickName) }}</td>
    <td>
        Used in place of first name for assignments.<br />
        {{ form_errors(form.nickName) }}
    </td>
</tr>
<tr>
    <td> {{ form_label (form.email) }}</td>
    <td> {{ form_widget(form.email) }}</td>
    <td>
        Required.<br />
        Needs to match your eAYSO email.<br />
        {{ form_errors(form.email) }}
    </td>
</tr>
<tr>
    <td> {{ form_label (form.cellPhone) }}</td>
    <td> {{ form_widget(form.cellPhone) }}</td>
    <td>
        Highly recommended.<br />
        Some text messages may be sent.<br />
        {{ form_errors(form.cellPhone) }}
    </td>
</tr>
<tr><td colspan="3"></td></tr>
<tr>
    <td> {{ form_label (form.region) }}</td>
    <td> {{ form_widget(form.region) }}</td>
    <td>
        Required.<br />
        {{ form_errors(form.region) }}
    </td>
</tr>
<tr>
    <td> {{ form_label (form.refBadge) }}</td>
    <td> {{ form_widget(form.refBadge) }}</td>
    <td>
        Will be verified from eAYSO.<br />
        {{ form_errors(form.refBadge) }}
    </td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td align="center"><input type="submit" name="accountCreateSubmit" value="Create Account" />
</tr>
<tr><td colspan="3">{{ form_errors(form) }}</td></tr>
</table>
{{ form_rest(form) }}
</form>
<br />
</div>
<div>
  <h3>Instructions</h3>
  <p>
    Your AYSOID volunteer number is the key to everything.
    You should be able to look it up on www.eayso.org or ask your regional commissioner.
    Only information from eAYSO will be used for referee assignments.
    Please make every effort to keep your contact information up to date on eAYSO as the tournament approaches.
  </p><p>
    You MUST have a valid email address in eAYSO.  All tournament emails will use your eAYSO email.
    If the one in eAYSO is not up to date then go in and change it.
    A verification email will be sent to your eAYSO email address.
    You won't be able to referee without one.
  </p><p>
    We might use your eAYSO cell phone to send a very limited number of texts for last minute changes.
    We are not going to absolutely require a cell phone number but it is highly recommended.
    Again, update your volunteer form to include a valid cell phone number if necessary.
  </p><p>
    We will use your eAYSO nick name (if one is present).
    So if you don't by by your legal first name then be sure to set your nick name in eAYSO.
  </p><p>
    Membership year (2011 or 2012), age, safe haven certification as well as referee certification will also be pulled from eAYSO.
    If your certification status is not up to date then you will need to work through your region to get it fixed.
  </p><p>
    Once your account is created a verification email will be sent to your eAYSO email.
    This is a manual process so it might take a few days before your receive it.
    Clicking on a link in the email will confirm that our information about you is correct.
 </p><p>
   We will also be asking for more detailed information on your referee intentions.
   Please answer all the questions and keep your information up to date as the tournament draws closer.
 </p><p>
   In general you should only need one account per family.
   Additional referees can be added to your account once it is created.
   The will allow the account holder to sign up the other referees for games without having to switch accounts.
  </p><p>
      Questions can be emailed to: contact@NatGames2012.org
 </p>
</div>

{% endblock %}
