{% extends 'ZaysoArbiterBundle:Layout:layout.html.twig' %}


{% block title %}Arbiter - Test{% endblock %}
        
{% block content %}
<h1>Referee Classes</h1>
{% if msg %}
<p><em>{{ msg }}</em></p>
{% endif %}

<form class="s1" action="{{ path('zayso_arbiter_test2') }}" method="post" {{ form_enctype(form) }}>
    {{ form_row(form.recipient)   }}
    {{ form_row(form.textx)  }}
{{ form_errors(form) }} 
{{ form_rest(form) }}
<input type="submit" name="test2Submit" value="Submit" />
</form>
{% endblock %}