{% if listForm is defined  %}
{% set form = listForm     %}
<div class="schedule-list">
<form action="{{ path('zayso_core_admin_schedule_referee_list') }}" method="post" {{ form_enctype(form) }}>
<table border="1">
<tr><td colspan="20" align="right">
    <input type="submit" name="schListSubmit" value="Process" />
</td></tr>
{% for game in form.games %}
{% set gamex = game.vars.value %}
<tr>  
    <td>
        {{ gamex.num }}-{{gamex.id}}<br />
        {{ form_widget(game.status) }}
    </td>
    <td>{{ game_dow(gamex.date)   }} {{ game_time(gamex.time) }}</td>
    <td>{{ gamex.fieldDesc        }}</td>
    <td>{{ form_widget(game.pool) }}</td>
    <td>
        {% for teamRel in gamex.teams %}
            {{ teamRel.team.desc }}<br />
        {% endfor %}
    </td>
    <td>
        {% for teamRel in gamex.teams %}
            {{ teamRel.team.org.desc2 }}<br />
        {% endfor %}
    </td>
    <td>
        {% for gamePersonRel in game.persons %}
            {% set gamePersonRelx = gamePersonRel.vars.value %}
            {% set personx = gamePersonRelx.personz %}
            {% set certx = personx.aysoCertz %}
            
            {{ form_widget(gamePersonRel.state) }} 
            {{ form_widget(gamePersonRel.person) }}
            {{ personx.orgz.desc2 }}
            {{ certx.aysoid }}
            {{ certx.memYear }}
            {{ certx.hasSafeHaven }}
            {{ certx.refBadge }}
              <br />
        {% endfor %}
    </td>
</tr>
{% endfor %}
<tr><td colspan="20" align="right">
    <input type="submit" name="schListSubmit" value="Process" />
</td></tr>
</table>
{{ form_rest  (form) }}
</form>        
</div>
{% endif %}
