{% if searchForm is defined  %}
{% set form = searchForm     %}
<div class="schedule-search">
<form action="{{ path('zayso_core_schedule_my_list') }}" method="post" {{ form_enctype(form) }}>
<table border="1">
<tr>  
        
    <td><table border="1"><tr>
    {% for item in form.dows %}
        <td align="center">{{ form_label(item) }}<br />{{ form_widget(item) }}</td>
    {% endfor %}
    <tr></table></td>
    
    <td><table border="1"><tr>
        <td>{{ form_widget(form.time1) }}<br />{{ form_widget(form.time2) }}</td>
    <tr></table></td>
    
    <td><table border="1">
        <tr><td align="center">My Teams</td></tr>
        {% for team in form.teamIds %}
            <tr><td>{{ form_widget(team) }}{{ form_label(team) }}</td></tr>
        {% endfor %} 
    <tr></table></td>
    
    <td><table border="1">
        <tr><td align="center">My People</td></tr>
        {% for item in form.personIds %}
            <tr><td>{{ form_widget(item) }}{{ form_label(item) }}</td></tr>
        {% endfor %} 
    <tr></table></td>
    
</tr>
<tr>
    <td colspan="2">
        <a href="{{ path('zayso_core_schedule_my_list', { '_format' : 'xls'}) }}">Excel Spreadsheet</a>
        <a href="{{ path('zayso_core_schedule_my_list', { '_format' : 'csv'}) }}">Text File</a>
    </td>
    <td colspan="4" align="right"><input type="submit" name="schSearchSubmit" value="Search" /></td>
</tr>
</table>
<div style="display: none;">
    {{ form_widget(form.teamIds) }}{{form_widget(form.personIds) }}
</div>
{{ form_rest(form) }}
</form>        
</div>
{% endif %}
